.filterWrap {
  display: flex;
  gap: 2rem;
}
.filterList {
  width: 170px;
  flex-shrink: 0;
  form {
    position: sticky;
    top: 82px;
  }
  .singleField {
    border: 1px solid #ededed;
    box-shadow: 0px 0px 10px -4px rgb(0 0 0 / 30%);
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    input[type="number"] {
      width: 100%;
    }
  }
  .priceFilter {
    display: flex;
    gap: 5px;
  }
}
.ProductListPage {
  flex-grow: 1;
  height: calc(100vh - 8.7rem);
  overflow-y: auto;
  h1 {
    font-size: 2rem;
    color: #3a3a3a;
    margin-bottom: 1rem;
  }
  .ProductListWrap {
    margin-top: 2rem;
  }
}
.loadMore {
  text-align: center;
  padding: 1rem 0rem 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s linear;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
