.ProductListPage {
  padding: 2rem;
  h1 {
    font-size: 2rem;
    color: #3a3a3a;
    margin-bottom: 1rem;
  }
  .ProductListWrap {
    margin-top: 2rem;
  }
}
.loadMore {
  text-align: center;
  padding: 1rem 0rem 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s linear;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
