@import "../../scss/mixins";
@import "../../scss/var";

.userProfile {
  display: flex;
  gap: 1rem;
  padding: 10px;
  img {
    flex-shrink: 0;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #fff;
  }
  .userName {
    padding: 10px 0;
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
      color: $para;
      font-size: 14px;
    }
    button {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}
.userDetail {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.userDetail_single {
  flex-basis: calc(33% - 8px);
  display: flex;
  align-items: baseline;
  gap: 0.5rem 1rem;
  padding: 1rem;
  background-color: #fff;
  .heading {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: #2a2a2a;
    &::after {
      content: " -";
    }
  }
  .detail {
    font-size: 14px;
    color: #616161;
  }
}
.userPosts_wrapper {
  margin: 2rem 0 0;
  > h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
}
.userSinglePost {
  background-color: #fff;
  box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.3);
  padding: 1.5rem 1.3rem;
  border-radius: 6px;
  height: 100%;
  margin-bottom: 1rem;
  h4 {
    font-size: 16px;
    color: #444c59;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 14px;
    color: #717171;
  }
}
.userPostHash {
  display: flex;
  gap: 6px;
  li {
    list-style: none;
    border: 1px solid #ccc;
    padding: 4px 10px;
    line-height: 1;
    border-radius: 20px;
    display: inline-flex;
    &::before {
      content: "#";
      margin-right: 3px;
      color: #919191;
    }
  }
}
